////
/// mockSystemMessage
/// Переопределяет системный вывод сообщений библиотеки,
/// записывая их в список, позволяя отслеживать наличие ошибок.
/// Должен подключаться после ~lib/component/system/index.
////

/// Список сообщений (ошибок)
/// @type List
$_dd-mock-system-message-list: ();

/// Переопределяет системный вывод сообщений
/// Записывает сообщения в список
/// @param {String} $_message - текст сообщения
/// @param {warn | error | debug} $_type [warn] - тип сообщения
/// @return null
@function _dd-system-message($_message, $_type: 'warn') {
    @if ($_type == warn or $_type == error) {
        $_dd-mock-system-message-list: append($_dd-mock-system-message-list, ($_message, $_type)) !global;
    }
    @return null;
}

/// Проверяет если ли сообщения в списке
/// @return Boolean
@function dd-mock-system-message-hasMessages() {
    @return if(length($_dd-mock-system-message-list) == 0, false, true);
}

/// Очищает список сообщений
@mixin dd-mock-system-message-clear() {
    $_dd-mock-system-message-list: () !global;
}
