$dd-system-classPrefix: '';
$dd-system-autoGenerate: false;

/*@mixin dd-form-inputText-custom()
{
	color: #9534cf;
}*/

@import '../../lib/sass/main';

$color-splashy: #EC6A00;
$color-light: #FFCC65;
$color-dark: #34362D;
$color-neutralLight: #A1D8B9;
$color-neutralDark: #669E81;
$color-gray: #666666;
$color-grayLight: #F5F5F5;
$color-grayDark: #333333;



@include dd-generator();

@import 'components/global';
@import 'components/example.scss';
@import 'components/layout';
@import 'components/responsiveTester';
@import 'components/gridTester.scss';