{
    "extends": "stylelint-config-sass-guidelines",
    "defaultSeverity": "warning",
    "rules": {
        "indentation": 4,
        "selector-no-qualifying-type": null,
        "max-nesting-depth": null,
        "at-rule-blacklist": ["error", "debug", "warn"],
        "scss/at-function-pattern": "^_?[a-z]+\\w*(-[a-z]+\\w*)*$",
        "scss/at-mixin-pattern": "^_?[a-z]+\\w*(-[a-z]+\\w*)*$",
        "scss/dollar-variable-pattern": "^_?[a-z]+\\w*(-[a-z]+\\w*)*$",
        "scss/percent-placeholder-pattern": "^_?[a-z]+\\w*(-[a-z]+\\w*)*$",
        "selector-class-pattern": "^[_-]?[a-z]+\\w*(-[a-z]+\\w*)*$",
        "order/properties-alphabetical-order": null,
        "order/properties-order": [
            [
                "content",

                "position",
                "z-index",
                "top", "bottom", "left", "right",

                "display",
                "box-sizing",
                "width", "height",
                "margin", "margin-top", "margin-bottom", "margin-left", "margin-right",
                "padding", "padding-top", "padding-bottom", "padding-left", "padding-right",
                "border",

                "background",
                "color",

                "font-family",
                "font-size",
                "line-height",
                "text-align"
            ],
            {
                "unspecified": "bottomAlphabetical"
            }
        ]
    }
}