.gridTester {

	&-item {
		padding: 10px;
		background: #34a1cf;
	}

	&-customGrid {
		@include dd-grid-list(
			(
				columns: 4,
				gutterHorizontal: tiny,
			),
			(
				media: (md),
				columns: 3,
				gutterHorizontal: massive,
			),
			(
				media: ((xs, 600px)),
				columns: 2,
			)
		);
	}

	&-guttersTest {
		@include dd-grid-gutters(10px, 0, true, true);
	}
}